@font-face {
    font-family: "Clear Sans";

}

body {
  background: black;
}

body {
  background: gray;
}

.cell {
  border: 1px solid black;
  background: green;
  float: left;
  width: 25%;
  height: 150px;
  font-family: Arial;
  font-size: 18px;
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 13px;
  padding: 15px 15px;
}